

	<div id="about" class="about" style="display:none">
	  <p>This tool is intended to be used in course assignments that take advantage of IIIF-enabled digital image collections. Submit a manifest URL to build a gallery of thumbnails. Select a thumbnail to open that image in the right-hand window. Enable the cropping tool to extract details for use in discussion board posts or other course assignments.</p>

	<p>This tool was developed at the McGraw Center for Teaching and Learning, Princeton University.</p>
	</div>


