


     <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12" style='text-align:center;margin-top:2%'>
          <a href="{{ relative_url }}"><img class='logo' src="{{ "/assets/images/logo.svg" | relative_url }}"/></a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 navigation" style='text-align:center;margin:4% 0'>
          <a href="#">Clusters</a>
          <a href="#">Bibliography</a>
          <a href="#">Programming</a>
        </div>
      </div>   
      
    </div>
