<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IIIF Cropping Tool</title>
  <meta name="description" content="A tool for cropping images from IIIF manifests, developed at the McGraw Center for Teaching and Learning, Princeton University">
    
    

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">

  <script src="assets/js/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="assets/js/converter.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  
  <!-- Tippy -->
  <script src="https://unpkg.com/popper.js@1"></script>
  <script src="https://unpkg.com/tippy.js@5"></script>

  <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="assets/images/favicon.gif"/>

</head>

<body>

<div id="banner" style='display:flex;justify-content:space-between'>
	  <p class='url-element' style="display:flex;width:50%;padding-left:1em;">
	    <input type="text" id="url" placeholder="Enter the URL of a IIIF manifest." value="" />
	    <button id="submit" class="primary" style="">Submit</button>
	  </p>
	  <div id='banner-toolbar'>
	    <a href="#" class="carousel"><i class="bi bi-file-earmark-slides icon"></i></a>
	    <a href="#" class="sidebar-left"><i class="bi bi-card-list icon"></i></a> 
            <a href="#" class="sidebar-right"><i class="bi bi-spellcheck icon"></i></a>
            <a href="#" class="importexport icon"><i class="bi bi-file-text"></i></a>
	  </div>
</div>


<div id="main" class="">
    <div id="left">
    
    
        <div id="left-content">
        
        <!--
			  <form id="uploadfile" method="post" enctype="multipart/form-data">
			      <input class='form-control' name="jsonfile" type="file" />
			      <input class='btn btn-primary' type="submit" value='Upload'/>
			  </form>
	-->


	  <!--
	  <p class='output-element' style="position:relative;display:flex;margin-bottom:0px;">
	    <textarea id="output" rows='4' data-current='0' data-mode='large'></textarea>
	    <button id="copy" class="btn" style="position:absolute;right:0px;top:0px;font-size:0.8em;display:none;" onClick="javascript:copytext();return false;">Copy</button>
	  </p>
	  <p id="mode" style="margin-top:0px;">
	     <label for="large">
	       <input id='large' class='setmode' data-mode='large' name='mode' type='radio' value='1' checked='checked'/>
	       <span>Large</span>
	     </label>
	     <label for="small">
	       <input id='small' class='setmode' data-mode='small' name='mode' type='radio' value='1'/>
	       <span>Small</span>
	     </label>	      
	     <label for="actual">
	       <input id='actual' class='setmode' data-mode='actual' name='mode' type='radio' value='1'/>
	       <span>Actual</span>
	     </label>
     
	     <label for="html">
	       <input id='html' class='setmode' data-mode='html' name='mode' type='radio' value='1'/>
	       <span>&lt;/&gt;</span>
	     </label>
	  </p>	
	  -->


	  <!--<p><a href="#" class="metadata">View metadata</a></p>-->
	  <p><div id="gallery"></div></p>
        </div>
    </div>
    <div id="middle">
       <div id="viewer-wrap" style="position:relative">
       <div id="viewer"></div>
       <div id="viewer-prev"><a href="#" class="nextprev prev" rel=""><img src='assets/images/prev.png'/></i></a></div>
       <div id="viewer-next"><a href="#" class="nextprev next" rel=""><img src='assets/images/next.png'/></a></div>
       </div>
       <div id="viewer-toolbar">
         <a href="#" id="crop" class='disabled'><i class="bi bi-crop"></i></a>
         <a href="#" id="addslide"><i class="bi bi-plus-circle"></i></a>
       </div>

    </div>
    
    <div id="right">
      <div id="right-content">
        <input id="tags" type='text' class='form-control' placeholder="Tags"/>
        <textarea id="textualbody" class='form-control' rows='15' placeholder='Text' style='margin-top:1em;'></textarea>
        <button id="saveannotations" class="btn btn-primary" style="border-radius:5px;">Save</button>
      </div>
    </div>


</div>
<div id="filmstrip" class="">
  <div id="filmstrip-control"><a href="#" class="showfilmstrip"><i class="bi bi-three-dots"></i></a></div>
  <div id="filmstrip-tray"></div>
</div>

<a id="downloadAnchorElem" style="display:none"></a>

<!-- -------------- layout ---------------- -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>  
    <p>
      <textarea id="importexport" style='width:99%;height:300px;'></textarea>
       <a href="#" class="import"><button class='primary'>Import</button></a>
       <a href="#" class="export"><button class='primary'>Export</button></a>
    </p>
  </div>
</div> 



<!-- The Modal -->
<div id="croppingModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    VIEWER
  </div>
</div> 

  
  <script src="assets/js/openseadragon/openseadragon.min.js"></script>
  <script src="assets/js/annotation.js"></script>
  <script src="assets/js/functions.js?v=0.0.1"></script>
  <script src="assets/js/script.js?v=0.1.9"></script>  
  
  
  <!--<script src="assets/js/dropzone.js?v=0.1"></script>-->
  
   <script>
   
     init();

  </script>  
 {% include footer.html %}
</body>
</html>
